{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th> {{! 데이터 분류}}
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}} {{!모델에 등록된 데이터 가져오기}}
        <tr>
            <th>{{id}}</th> {{!데이터}}
            <td><a href="/articles/{{id}}">{{title}}</a></td> {{!Title에 링크, 상세페이지로 이동}}
            <td>{{content}}</td>
            <td></td>
        </tr>
    {{/articleList}}
    </tbody>
</table>

<a href="/articles/new">New Article</a> {{! 데이터 생성}}




{{>layouts/footer}}